
body, html {
    height: 100%;
  }
  
  .bgimg {
    /* The image used */
    background-image: url("Images/HomePage1.jpg");
  
    /* Full height */
    height: 100%;
    width: 95%;
    background-position: right 50px;
    background-repeat: no-repeat;
    padding-bottom: 45px;
    margin:auto;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.padtext{
  color:#091133;
  padding-left: 1000px;
}
.padbottom{
	padding-left: 1000px;
}
.medium-btn {
  background:#111B47;
	color:white;
  width: 200px;
  height: 30px;
}
#egyptHomePhoto{
  padding-top: 130px;
  padding-right: 50px;
  padding-left:100px; 
	box-align:left;
  width: 650px;
  padding-bottom:20px;
		
	}
#egyptPart{
  padding-top: 35px;
	padding-left: 850px; 
  padding-right: 150px;
	padding-bottom:80px;
	color:#091133; 
}
#egyptPart h4{
	color:#6F7CB2;
}
.small-btn {
  width: 130px;
  height: 30px;
	background:#111B47;
	color:white;
  cursor: pointer;
  }
	#talyHomePhoto
	{
    padding-top: 130px;
    padding-right: 50px;
    padding-left:100px; 
    box-align:left;
    width: 650px;
    padding-bottom: 20px;
      
	}
	#italyPart{
    padding-top: 35px;
    padding-left: 850px; 
    padding-right: 150px;
    padding-bottom:80px;
    color:#091133; 
	}
	#italyPart h4{
	color:#6F7CB2;
	}
	#chineseHomePhoto
	{
    padding-top: 130px;
    padding-right: 50px;
    padding-left:100px; 
    box-align:left;
    width: 650px;
    padding-bottom: 20px;

	}
  #content{
    padding-top: 35px;
    padding-left: 850px; 
    padding-right: 150px;
    padding-bottom:80px;
    color:#091133; 
	}
	#chinesePart h4{
		color:#6F7CB2;
	}
	
	#curveTitle{
		color:#091133; 
		font-size:2rem;
	}
.site-footer
{
  background-color:#E7ECFF;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer div{
	padding-left:20px;
}

.site-footer h6
{
  color:#929ECC;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
  
}
.footer-links a
{
  color:#737373;
  text-decoration:none;
}
#firstLink{
	padding-left:20px;
}
.social-icons
{
  padding-left:1300px;
  margin-bottom:0;
  list-style:none;
  
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;

  
}
.social-icons a{
  background-color:#B0B8BC;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
  
  
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

.curved-div {
  background: #E7ECFF;
  color: #FFF;
  text-align: center;
}
.curved-div h1 {
  font-size: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top:0;

}
.curved-div p {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 5rem 0 5rem;
  color:#6F7CB2;
}
.curved-div svg {
  display: block;
}
.curverdupper{
  padding-top: 25%;
	background: #E7ECFF;
	display: block;
	
}
#ABC {
  background-color: #E7ECFF;
  height: 130px;
  position: relative;
  bottom: 60px;
  top:10px;
}
.topnav a {

  float: left;
  color: #505F98;
  text-align: left;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
  margin-left:30px ;
  margin-top:-5px;
}
#nav-btn{
	padding-left:1200px;
}
button:hover{
background: #37447E;
border-bottom: 1px solid #37447E;
}
#bottom-nav a{
  padding-left: 60px;
  color: #222F65;
}
.blue-pill {
  display: block;
  text-decoration: none;
  width: 90px;
  height: 5px;
  margin-bottom: 15px;
  font-weight:lighter;
  position: relative;
  background-color: #111B47;
  border: none;
  color: #37447E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  line-height: 50px;
}
.blue-pill .fa {
  display: inline-block;
  margin-top: -35px;
  margin-left: 0px;
  color: white;
  font-size: 16px;
  vertical-align:middle;
}
.blue-pill span {
  display: inline-block;
    vertical-align:middle;
}
.blue-pill.centered {
  margin-left: 1350px;
  margin-top: -55px;
}
.blue-pill.inline {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
a[role="button"]:hover{
  background: #37447E;
}